/*Font Style Rules
font-family: 'Nunito', sans-serif; 200-500,700-800
*/

/*Colors
background-color: rgb(14, 58, 14); Dark Green
*/

/*UNIVERSAL STYLES*/
html {                                                  /*add fonts*/
    font-size: 16px;
    top: 0;
    left: 0;
    font-family: 'Nunito', sans-serif;
    padding: 0 7%;
}

title {
    cursor: pointer;
}

body {
    margin: 0 200px;  /*IMPORTANT must have both margin and padding set to 0 for it to span full width of screen. Every browser has default padding and margin*/
    padding: 0 0 0 0;
}

/*NAVIGATION*/
header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.nameWrapper {
    font-weight: bolder;
    font-size: 0.875rem;
}

.navigation {
    height: auto;
    
}

.navbanner ul {
    list-style-type: none;
    display: flex;
    width: auto;
}

.navbanner li {
    display: inline;
    width: auto;
}

.navbanner li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin: 0 .85rem;
}

/*MAIN CONTENT*/
#aboutWrapper {
    display: flex;
    width: 100%;
}

#aboutMe {
    margin-right: 5px;
    align-content: flex-start;
}

#aboutWrapper img { 
    border-radius: 15%;
    width: auto;
    height: 22rem;
    margin-left: 5px;
}

#projectsWrapper ul {
    padding-left: 0;
}

#projectsWrapper li {
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

#firstCompWrapper, #engineWrapper, #adaWrapper {
    cursor: pointer;
    display: none;
}

#engineImg {
    height: 18rem;
}

#projectsWrapper li::before {
    content: "\2192";
}

#icons {
    display: flex;
    justify-content: space-around;
}

#icons img {
    width: auto;
    height: 3rem;
}

/*FOOTER*/
footer {
    font-size: .85rem;
    background-color: rgb(126, 170, 228);
    color: black;
    padding: 0.02rem 0 0.10rem 0.02rem;
    height: auto;
    border-radius: 0.5rem;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 667px){ 
    body {
        overflow-x: scroll;
    }
}