/*Font Style Rules
font-family: 'Nunito', sans-serif; 200-500,700-800
*/

/*Colors
background-color: rgb(14, 58, 14); Dark Green
*/

/*UNIVERSAL STYLES*/
html {                                                  /*add fonts*/
    font-size: 16px;
    top: 0;
    left: 0;
    font-family: 'Nunito', sans-serif;
    padding: 0 8%;
}

body {
    margin: 0 200px;  /*IMPORTANT must have both margin and padding set to 0 for it to span full width of screen. Every browser has default padding and margin*/
    padding: 0 0 0 0;
}

/*NAVIGATION*/
header {
    display: flex;
    width: 100%;
    border-color: green;
    border-style: solid;
}

.navigation {
    border-color: blue;
    border-style: solid;

}

.navbanner ul {
    border-color: red;
    border-style: solid;
    list-style-type: none;
    display: flex;
    width: auto;
}

.navbanner li {
    border-color: orange;
    border-style: solid;
    display: inline;
    width: auto;
}

.navbanner li a {
    border-color: yellow;
    border-style: solid;
    display: block;
}

/*MAIN CONTENT*/
#aboutWrapper {
    border-color: red;
    border-style: solid;
    display: flex;
    width: 100%;
    
}

#aboutMe {
    border-color: green;
    border-style: solid;
    margin-right: 5px;
    align-content: flex-start;
}

#aboutWrapper img { 
    border-color: orange;
    border-style: solid;
    border-radius: 15%;
    width: auto;
    height: 22rem;
    margin-left: 5px;
}

/*FOOTER*/
footer {
    font-size: .85rem;
    background-color: rgb(65, 135, 226);
    color: black;
    padding: 0.5rem 0 0.5rem 0;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 667px){ 
    body {
        overflow-x: scroll;
    }
}