/*Font Style Rules
font-family: 'Nunito', sans-serif; 200-500,700-800
*/

/*Colors
background-color: rgb(14, 58, 14); Dark Green
*/

/*UNIVERSAL STYLES*/
html {                                                  /*add fonts*/
    font-size: 16px;
    top: 0;
    left: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0 200px;  /*IMPORTANT must have both margin and padding set to 0 for it to span full width of screen. Every browser has default padding and margin*/
    padding: 0 0 0 0;
}

/*NAVIGATION*/

/*MAIN CONTENT*/

/*FOOTER*/
footer {
    font-size: .85rem;
    background-color: rgb(65, 135, 226);
    color: black;
    padding: 0.5rem 0 0.5rem 0;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 667px){ 
    body {
        overflow-x: scroll;
    }
}